    @font-face {
      font-family: "Dev";
      src:url('Font/dev.ttf');
    }

    #particles-js{
      background: #232741;
      height: 100vh;
    }
    
    body {
      width: 100%;
      height: 100vh;
      color: #333;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    
    .page {
      position: absolute;
      margin: auto;
      height: 40%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
        
    .hed {
      font-family: "Dev";
      text-align: center;
      color: #fff;
      font-weight: bold;
      font-size: 2.5em;
      letter-spacing: 2px;
      -webkit-text-stroke: 1px #000;
    }
    
    .typed {
      color: #fff;
      font-size: 1em;
      -webkit-text-stroke: 1px #000;
      text-decoration: none;
    }

    .typed-cursor{
      opacity: 1;
      animation: blink 0.7s infinite;
    }

    @keyframes blink{
      0% { opacity:10; }
      50% { opacity:0; }
      100% { opacity:10; }
    }

    @keyframes blink{
      0% { opacity:10; }
      50% { opacity:0; }
      100% { opacity:10; }
    }
    
    .logo {
      color: white;
      font-size: 10px;
      margin: 10px;
      text-decoration: none;
    }
 
    .logo:hover {
      color: white;
      cursor: pointer;
    }
